body {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  background-color: #1e1e1e;
  
  /* 1. Draw horizontal lines */
  /* 2. Draw vertical lines (90deg) */
  background-image: 
    linear-gradient(rgba(15, 161, 30, 0.05) 2px, transparent 1px),
    linear-gradient(90deg, rgba(38, 255, 0, 0.05) 2px, transparent 1px);
  /* Set the size of the grid squares */
  background-size: 50px 50px
}

h1, div {
  position: absolute;
  width: 100%;
  color: steelblue;
  font-family: "Pixelify Sans", sans-serif;
  /* font-family: "Jersey 10", sans-serif; */
  text-align: center;
}

.bugs {
  position: absolute;
  color: steelblue;
  font-family: "Pixelify Sans", sans-serif;
  margin-left: 10px;
}

div {
  top: 70%;
  text-align: left;
}

.flex {
  display: flex;
}

h2 {
  padding-left: 20px;
}

ul {
  text-align: left;
}